process {
  executor = 'azurebatch'
}

azure {
    
    activeDirectory {
        servicePrincipalId = "$TST_PRINCIPAL_ID"
        servicePrincipalSecret = "$TST_PRINCIPAL_SECRET"
        tenantId = "$TST_TENANT_ID"
    }
    storage {
        accountName = "nma2genomicststst1"
    }
    registry {
        server = "$TST_AZURE_CONTAINER_REG_SERVER"
        userName = "$TST_AZURE_REG_TOKEN_NAME"
        password = "$TST_AZURE_REG_TOKEN_PW"
    }
    batch {
        location = 'southcentralus'
        accountName = "nma2genomicststba1"
        autoPoolMode = true
        deletePoolsOnCompletion = false
        pools {
            auto {
                autoScale = true
                vmType = 'Standard_D48d_v4'
                vmCount = 5
                maxVMCount = 350
                virtualNetwork = '/subscriptions/4a28e7a3-2991-4f92-915e-6032ad0542d5/resourceGroups/Network-a2-gp-npd-rg/providers/Microsoft.Network/virtualNetworks/nma2-batch-tst-vnet01/subnets/nma2-genomics-batch-tst-sub01'
            }
        }
    }
    retryPolicy {
        delay = '1 s'
        maxDelay = '60 s'
        maxAttempts = 10
        jitter = 0.25
    }
}

workDir = 'az://analysis/scratch/work'
tmpDir = 'az://analysis/scratch/tmp'