/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Northwestern Medicine Azure paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using NM paths.
    Can be used by any config that customises the base path using:
        $params.nm_genomes_base / --nm_genomes_base
----------------------------------------------------------------------------------------
*/


params {
    nm_genomes_base = "az://analysis/reference"

    genomes {
        nm_hg19 {
            fasta              = "${params.nm_genomes_base}/homo_sapiens/hg19/fasta/hg19.fa"
            bwa                = "${params.nm_genomes_base}/homo_sapiens/hg19/bwa"
            fai                = "${params.nm_genomes_base}/homo_sapiens/hg19/fasta/hg19.fa.fai"
            dict               = "${params.nm_genomes_base}/homo_sapiens/hg19/fasta/hg19.dict"
            mito_name          = "chrM"
            // Its a bit kludgy to have this here, make a "getTargetBedAttribute" function in main.nf if we want to 
            // put this in a separate scope.  Currently, this would have to be in every genome listed in this
            // file in order for it to always be available 
            mutect2_target_bed = "${params.nm_genomes_base}/pgdx/v1.0.0/pgdx_annotated_merged_sorted.bedx"
        }
    }
}
